@import url('./__line/header__line.css');

.header {
  padding-top: 45px;
  padding-bottom: 0;
  max-width: 882px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 28px;
  }
}
